<td><%= title %></td>
<td><%= content %></td>

<td><span class="show_post" data-post-id= "<%= id %>">Show</span></td>
<td><a href="#/posts/<%= id %>/edit">Edit</td>
<td><a href="#/posts/<%= id %>/destroy" class="destroy">Destroy</a></td>
